
/* Styles for the Page Body */
body {
	background: black url(civilwar1.jpg) top center no-repeat;
	position: relative;
	width: 95%;
	min-width: 1000px;
	max-width: 1400px
	}
	
/* Styles for the Page Header */

header {
	position: absolute;
	top: 20px;
	left: 20px;
	}
	
header #title {
		position: relative;
		align:center;
		
}



}
.site {
	background-color: transparent;
}
	}
	
/*General Navigation List Style */

nav {

	  max-width: 960px;

	  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);

	  margin: 0 auto;

	  padding: 50px 0;
	  
	}

	 

	nav ul {

	  text-align: center;

	  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);

	  width: 100%;

	  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

	}

	 

	nav ul li {

	  display: inline-block;

	}

	 

	nav ul li a {

	  padding: 20px;

	  font-family: "Roboto";

	  color: rgba(0, 0, 0, 0.5);

	  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);

	  font-size: 25px;

	  text-decoration: none;

	  display: block;

	}

	 

	nav ul li a:hover {

	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

	  background: rgba(255, 255, 255, 0.1);
	  color: rgba(0, 0, 0, 0.7);

	}
	

	
/* Reviews */

#review {
	background-color: rgb(105, 96, 87);
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(atwood.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	
	-o-background-size: 40%;
	-moz-background-size: 40%;
	-webkit-background-size: 40%;
	background-size: 40%;
	
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	clear: left;
	float: left;
	margin-left: 33%;
	width: 40%;
	}
	
#reviews h1 {
	font-family: 'Lucida Calligraphy', 'Apple Chancery', cursive;
	font-size: 158%;
	font-weight: bold;
	margin: 10px 0px 0px 10px;
	}
	
#reviews h2 {
	font-size: 105%;
	margin: 0px 0px 10px 15px;
	}
	
#reviews p {
	font-size: 87.5%;
	margin: 0px 40% 20px 15 px;
	}
	
/* Vertical Navigation List */

nav.verticalNAV {
	float: left;
	margin-left: 3%;
	width 23%;
	}
	
 nav.verticalNAV hover {
	background-color: rgb(105, 96, 87);
	background-color: rgba(255, 255, 255, 0.3);
	}

nav.verticalNAV a {
	border-bottom: 1px solid rgb(182, 182, 92);
	color: rgb(182, 182, 92);
	display: block;
	line-height: 2.2em;
	}
	
/* Trailer Styles */

#trailer {
	background-color: gray;
	background-color: rgba(255, 255, 255, 0.8);
	clear: center;
	float: center;
	margin: 20px 0px 0px 33%;
	width: 66%;
	margin: 0px 40% 20px 15 px;
	}


#review {
	
margin-left: 30px;
	
	
	
}

.coolLink{
 text-decoration:none;
text-shadow: 0 0 2px #999;
}


.coolLink:hover{
   padding-top: 2px;;
    cursor: pointer;
}

